.recuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 5px;
  justify-items: center;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  }

.input {
  margin: 5px 5px 5px 10px;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}